* {
  box-sizing: border-box;
}

html, body {
  position: relative;
  font-family: 'Quattrocento Sans', sans-serif;
  height: 100%;
  width: 100%;
  background-color: #fbfcff;
}

canvas {
  display: block;
}

/* h1, h2, h3, h4, p, ul {
} */

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 80%;
}

 .wrapper-secondary {
    max-width: 50%;
    text-align: center;
  } 

 @media only screen and (max-width: 768px) {
  .wrapper-secondary {
    max-width: 80%;
    text-align: center;
  }
} 
