* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Play", sans-serif;
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fbfcff;
  overflow-x: hidden;
}

body {
  -webkit-overflow-scrolling: touch;

  /* Testing this for mobile temporarily */
  -webkit-overscroll-behavior: contain;
}

a {
  text-decoration: none;
  color: #e3170a;
}

a:hover {
  color: #35e0f0;
}

.homeContainerDiv {
  height: 100vh;
  width: 100vw;
  position: fixed;
  /* background-color: rgba(0,0,0,0); */
}

.ninjaStar {
  position: absolute;
  top: 25%;
  z-index: 9000;
  height: 4rem;
  width: 4rem;
}

.ninjaStar:hover {
  cursor: pointer;
}

@media (min-width: 742px) {
  .ninjaStar {
    top: 40%;
    height: 5rem;
    width: 5rem;
  }
}

#maskedStar {
  height: 2rem;
  width: 2rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 2000;
  height: 100vh;
  width: 100vw;
  background-color: #35e0f0;

  /* added these to test out the other method for preventing scroll */
  margin: 0;
  overflow-y: hidden;
  /*** 
  using overflow: hidden primarily for revealing modal nav text, but could help in more 
  complex page transition animations as well.
  ***/
  /* overflow: hidden; */
}

#blackOverlay {
  background-color: #222;
}

#whiteOverlay {
  /* maintains whiteOverlay's middle position during transition animation */
  background-color: #f2f2f2;
}

#blueOverlay {
  z-index: 3500;
  background-color: #35e0f0;
}

.aboutBgImg {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  height: 80vh;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: url("./images/moto-350.png") no-repeat;
}

@media (min-width: 472px) {
  .aboutBgImg {
    background: url("./images/moto-472.png") no-repeat;
  }
}

@media (min-width: 742px) {
  .aboutBgImg {
    height: 80vh;
    width: 80%;
    background: url("./images/moto-665.png") no-repeat;
  }
}

@media (min-width: 1100px) {
  .aboutBgImg {
    background: url("./images/moto-828.png") no-repeat;
  }
}

.projectImage {
  height: 200px;
  width: 200px;
}

/* iPhone svg styles */
.cls-1 {
  fill: #000222;
  stroke-width: 2px;
}
.cls-1,
.cls-2,
.cls-3 {
  stroke: #7e89a3;
}
.cls-2 {
  fill: #fff;
}
.cls-3 {
  fill: none;
}
